download
download.zip
data
data2
data_1979_01.tar.gz
data_1979_02.tar.gz
data_1979_03.tar.gz
data_1979_04.tar.gz
data_1979_05.tar.gz
data_1979_06.tar.gz
data_1979_07.tar.gz
data_1979_08.tar.gz
Processed csv
Streamlit data
1979_1-3.csv
1979_4-6.csv


